body {
  background-color: #d8d7d8;
  font-size: 15px;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}

th,
td {
  padding: 15px;
}

tr.desktop:nth-child(even) {
  background-color: #f2f2f2;
}

tbody,
th,
span {
  text-align: left;
}
table {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
}
thead:nth-child(even) {
  background-color: #f0eef0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70vw;
  height: auto;
  margin: 0 auto;
}
.button {
  margin-top: 15px;
  font-weight: bold;
  border: none;
  margin-bottom: 10px;
}
.firstButton {
  display: flex;
  justify-content: flex-end;
}
.ButtonName {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100vw;
  }
}
